
.vs/IT_Express/FileContentIndex/

.vs/IT_Express/v17/.suo

.vs/IT_Express/v16/.suo

Abstactions/obj

IT_Expressen Gruppe 5/obj
/.vs
/Abstractions/obj/Release/net5.0
/IT-Expressen Gruppe 5/obj
Abstractions/obj/
IT-Expressen Gruppe 5/bin/
